{% extends 'base.html' %}
{% block title %}课程列表 - 在线教育{% endblock %}

{% block nav_path %}
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{{ url_for('index.index') }}">首页</a>></li>
                <li>课程</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block comment %}
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="{% if sort=='new' or sort=='' %}active{% else %}{% endif %}"><a
                                    href="{{ url_for('courses.course_list',page=pagination.page,sort='new') }}">最新 </a>
                            </li>
                            <li class="{% if sort=='hot' %}active{% else %}{% endif %}">
                                <a href="{{ url_for('courses.course_list',page=pagination.page,sort='hot') }}">最热门</a>
                            </li>
                            <li class="{% if sort=='join' %}active{% else %}{% endif %}">
                                <a href="{{ url_for('courses.course_list',page=pagination.page,sort='join') }}">参与人数</a>
                            </li>
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">
                                {% for course in pagination.items %}
                                    <div class="box">
                                        <a href="{{ url_for('courses.course_detail',course_id=course.id) }}">
                                            <img width="280" height="350" class="scrollLoading"
                                                 src="{% if course.image %}{{ url_for('static',filename=course.image) }}{% else %}{% endif %}"/>
                                        </a>
                                        <div class="des">
                                            <a href="{{ url_for('courses.course_detail',course_id=course.id) }}">
                                                <h2>{{ course.name }}</h2>
                                            </a>
                                            <span class="fl">时长：<i class="key">30</i></span>
                                            <span class="fr">学习人数：{{ course.students }}&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="bottom">
                                            <a href="{{ url_for('courses.course_detail',course_id=course.id) }}"><span
                                                    class="fl">{{ course.courseorg.name }}</span></a>
                                            <span class="star fr  notlogin
                                        " data-favid="15">
                                        1
                                    </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">
                                    <li class="long" style="display:{% if pagination.has_prev %}block{% else %}none{% endif %}">
                                        <a href="{{ url_for('courses.course_list',page=pagination.page - 1,sort=sort) }}">上一页</a>
                                    </li>
                                    {% for p in pagination.iter_pages() %}
                                        {% if p %}
                                            {% if p==pagination.page %}
                                                <li class="active">
                                                    <a href="{{ url_for('courses.course_list',page=p,sort=sort) }}">{{ p }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ url_for('courses.course_list',page=p,sort=sort) }}">{{ p }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <li class="long"
                                        style="display:{% if pagination.has_next %}block{% else %}none{% endif %}">
                                        <a href="{{ url_for('courses.course_list',page=pagination.page + 1,sort=sort) }}">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right layout">
                    <div class="head">热门课程推荐</div>
                    <div class="group_recommend">
                        {% for course in recommend_course %}
                            <dl>
                                <dt>
                                    <a target="_blank" href="">
                                        <img width="240" height="220" class="scrollLoading"
                                             src="
                                                     {% if course.image %}{{ url_for('static',filename=course.image) }}{% else %}{% endif %}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <a target="_blank" href=""><h2>{{ course.name }}</h2></a>
                                    <span class="fl">难度：<i class="key">{{ course.get_degree }}</i></span>
                                </dd>
                            </dl>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


