{% extends 'course/course-video.html' %}
{% block title %}课程视频信息 - 在线教育{% endblock %}

{% block extend_css %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',filename='js/video.min.js') }}"></script>
    <style>
        .video-js .vjs-big-play-button {
            top: 50%;
            left: 50%;
        }
    </style>
{% endblock %}

<!--crumbs start-->
{% block comment %}
    {{ super() }}
    {% block play_video %}
    <div style="width:1200px;height:675px; margin-left: 0px">
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1200"
               poster="http://video-js.zencoder.com/oceans-clip.png"
               data-setup="{}">
            <source src="{{ url_for('static',filename=videos.path) }}"
                    type='video/mp4'>
        </video>
    </div>
    {% endblock %}
{% endblock %}