{% extends 'users/user_base.html' %}
{% block title %}个人中心 - 我的收藏{% endblock %}

{% block nav_path %}

    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{{ url_for('index.index') }}">首页</a>></li>
                <li><a href="{{ url_for('users.user_info') }}">个人中心</a>></li>
                <li>我的收藏</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block right_block %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li class="{% if request.endpoint=='users.user_collects_orgs' %}active{% else %}{% endif %}"><a href="{{ url_for('users.user_collects_orgs',page=pagination.page) }}">课程机构</a> </li>
                        <li class="{% if request.endpoint=='users.user_collects_teachers' %}active{% else %}{% endif %}"><a href="{{ url_for('users.user_collects_teachers',page=pagination.page) }}">授课教师 </a></li>
                        <li class="{% if request.endpoint=='users.user_collects_courses' %}active{% else %}{% endif %}"><a href="{{ url_for('users.user_collects_courses',page=pagination.page) }}">公开课程</a></li>
                    </ul>
                </div>
                {% block collect_block %}
                <div class="messagelist">
                    {% for elem in pagination.get_items %}
                    <div class="messages butler_list company company-fav-box">
                        <dl class="des fr">
                            <dt>
                                <a href="{{ url_for('org.org_detail_page',org_id=elem.id) }}">
                                    <img width="160" height="90" src="{{ url_for('static',filename=elem.image) }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{{ url_for('org.org_detail_page',org_id=elem.id) }}">{{ elem.name }}</a></h1>
                                <div class="pic fl" style="width:auto;">

                                    <img src="{{ url_for('static',filename='images/authentication.png') }}"/>


                                    <img src="{{ url_for('static',filename='images/gold.png') }}"/>

                                </div>
                                <span class="c8 clear">{{ elem.address }}</span>
                                <div class="delete jsDeleteFav_org" data-favid="1"></div>
                            </dd>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>
        </div>
{% endblock %}
