{% extends 'users/usercenter-fav-org.html' %}
{% block collect_block %}
    <div class="companycenter">
        <div class="group_list brief">
            {% for elem in pagination.get_items %}
            <div class="module1_5 box">
                <a href="{{ url_for('courses.course_detail',course_id=elem.id) }}">
                    <img width="214" height="190" src="{{ url_for('static',filename=elem.image) }}"/>
                </a>
                <div class="des">
                    <a href="{{ url_for('courses.course_detail',course_id=elem.id) }}"><h2>{{ elem.name }}</h2></a>
                    <span class="fl">时长：<i class="key">{{ elem.learn_time }}</i></span>
                    <span class="fr">学习人数：{{ elem.students }}</span>
                </div>
                <div class="bottom">
                    <span class="fl">{{ elem.courseorg.name }}</span>
                    <span class="delete-group fr jsDeleteFav_course" data-favid="{{ elem.id }}"></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}