{% extends 'org/org_base.html' %}

{% block org_right %}

    <div class="right companycenter layout">
        <div class="head">
            <h1>机构课程</h1>
        </div>
        <div class="brief group_list">
            {% for course in pagination.items %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195"
                             src="{% if course.image %}{{ url_for('static',filename=course.image) }}{% else %}{% endif %}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.lessions|length }}</i></span>
                        <span class="fr">学习人数：{{ course.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ organization.name }}</span>
                        <span class="star fr  notlogin" data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pageturn">
            <ul class="pagelist">
                {% for p in pagination.iter_pages() %}
                    {% if p %}
                        {% if p==pagination.page %}
                            <li class="active">
                                <a href="{{ url_for('org.org_home_page',org_id=organization.id,page=p) }}">{{ p }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('org.org_home_page',org_id=organization.id,page=p) }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <li class="long" style="display:{% if pagination.has_prev %}block{% else %}none{% endif %}">
                    <a href="{{ url_for('org.org_home_page',org_id=organization.id,page=pagination.page + 1) }}">下一页</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}